* {
	box-sizing: border-box;
	padding:0;
	margin:0;
	vertical-align:baseline;
	list-style:none;
	border:0;
}

nav {
	background: #263238;
	margin: 0 auto;
	width: auto;
	font-family: sans-serif;
	text-align: right;
	padding: 20px;
}

nav ul li {
display: inline;
}

nav ul li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 10px;
	float: unset;
}

nav ul li a:hover{
	color:#FF0000;
}

.btn-login {
	background-color: #40C4FF;
	border: none;
	margin-right: 10px;
}
.btn-login:hover {
	color: #fff;
}
.btn-registrar {
	background-color: #FF9800;
	border: none;
}
.btn-registrar:hover {
	color: #fff;
}

.banner{
	background: url(../img/1240x300.png);
	width: 100%;
	height: 300px;
}
.banner p {
	text-align: center;
	margin: 0 auto;
	padding: 80px 50px 0px 50px;
}
.btn-cadastrar {
	font-family: sans-serif;
	background-color: #40C4FF;
	border: none;
    color: white;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.btn-cadastrar:hover {
	box-shadow: 5px 5px 16px #404448;
}