body {
	margin: 0;
	border: none;
}
menu {
	background: #263238;
	margin: 0 auto;
	width: auto;
	height: 44px;
	font-family: sans-serif;
	padding-top: 10px;
}
menu ul{
	vertical-align: middle;
	text-align: right;
	margin-top: 0px;
}
menu ul li {
	display: inline-block;
	padding: 10px 10px;
}
menu ul li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

menu ul li a:hover{
	color: #263238;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 17px;
}

.btn-login {
	text-align: center;
	background-color: #40C4FF;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-login:hover{
	background-color: #fff;
	color: #40C4FF;
}

.btn-registrar {
	text-align: center;
	background-color: #FF9800;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-registrar:hover{
	background-color: #fff;
	color: #FF9800;
}

div {
	text-align: center;
	width: 100%;
}
